<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_0.xsd">

<display-name>Archetype Created Web Application</display-name>

<!--  <servlet>
    <servlet-name>registerServlet1</servlet-name>
    <servlet-class>com.zhang.web.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>login</servlet-name>
    <servlet-class>com.zhang.web.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>registerServlet1</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>-->

  <servlet>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>com.zhang.web.BookServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>userServlet</servlet-name>
    <servlet-class>com.zhang.web.UserServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KaptchaServlet</servlet-name>
    <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>cart</servlet-name>
    <servlet-class>com.zhang.web.ItemsServlet</servlet-class>
  </servlet>
    <filter>
        <filter-name>filter1</filter-name>
        <filter-class>com.zhang.filter.CommonsFilter</filter-class>
    </filter>


  <servlet-mapping>
    <servlet-name>cart</servlet-name>
    <url-pattern>/items</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KaptchaServlet</servlet-name>
    <url-pattern>/kaptcha.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/manager/bookServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>userServlet</servlet-name>
    <url-pattern>/userServlet</url-pattern>
  </servlet-mapping>

    <filter-mapping>
        <filter-name>filter1</filter-name>
        <url-pattern>/pages/manager/*</url-pattern>
    </filter-mapping>
</web-app>
